# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environment
venv/
.env/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# App config
app/config.json

tabscraper/

songs